<footer id="footer">
  <h3>Contact Me</h3>
  <ul>
    <li><strong>Email (preferred):</strong><a href="mailto:{{ siteInfo.contactEmailAddress }}">{{ siteInfo.contactEmailAddress }}</a></li>
    <li><strong>Phone (Eastern time zone):</strong> {{ siteInfo.contactPhoneNumber }}</li>
    <li><a href="{{ siteInfo.githubUrl }}">Github</a></li>
    <li><a href="{{ siteInfo.linkedinUrl }}">LinkedIn</a></li>
    <li><a href="{{ siteInfo.facebookUrl }}">Facebook</a></li>
    <li><a href="{{ siteInfo.twitterUrl }}">Twitter</a></li>
  </ul>
  <p>Copyright &copy {{ now.year }} Katie M Fritz, LLC. All rights reserved  •  Built with <a href="http://craftcms.com">Craft</a></p>
</footer>
