<nav class="c-nav--header">
  <div class="c-logo">
    <a href="{{ siteUrl }}">
      <img src="{{ siteInfo.logo.first().getUrl() }}" alt="{{ siteName }}" />
    </a>
  </div>
  <ul class="c-nav">
    <li><a href="{{ url('') }}" {% if bodyClass == 'homepage' %}class="active"{% endif %}>Home</a></li>
    <li><a href="{{ url('about') }}" {% if craft.request.firstSegment == 'about' %}class="active"{% endif %}>About</a></li>
    <li><a href="{{ url('services') }}" {% if craft.request.firstSegment == 'services' %}class="active"{% endif %}>Services</a></li>
    {# <li><a href="{{ url('portfolio') }}" {% if craft.request.firstSegment == 'portfolio' %}class="active"{% endif %}>Portfolio</a></li> #}
  </ul>
</nav>
