{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
  <meta charset="utf-8" />
  <title>
    {% if entry.title is defined %}{{ entry.title }}
    {% elseif title is defined %}{{ title }}
    {% else %}{{ siteName }}{% endif %} | {{ siteInfo.siteNickname }}
  </title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="home" href="{{ siteUrl }}" />

  {% include 'partials/_seo' %}
  {% include 'partials/_og' %}

  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Josefin+Slab" rel="stylesheet">

  {% includeCssFile "https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" %}
  {% includeCssFile "https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css" %}
  {% includeCssFile "assets/css/layout.css" %}
  {% if (entry is defined) and (entry.slug == 'homepage') %}{% includeCssFile "assets/css/home.css" %}{% endif %}
  {% includeCssFile "assets/css/to-top.css" %}
</head>

{% if entry is defined %}
  {% set bodyClass = entry.slug %}
{% else %}
  {% set bodyClass = craft.request.firstSegment %}
{% endif %}

<body class="{{ bodyClass }}">
  <a href="#main" class="u-visually-hidden">Skip to main content</a>

  <header class="c-header">
    <div class="u-container">
    	{# Logo and Site Navigation #}
      {% include 'partials/_navbar' %}
    </div>
  </header>

  <main id="main" role="main">
    <div class="u-container">
      {% block content %}
      {% endblock %}
    </div>
  </main>

	{# Footer #}
  {% include 'partials/_footer' %}
  <a href="#0" class="to-top" title="Back To Top">Top</a>

  {% includeJsFile "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" %}
  {% includeJsFile "assets/js/to-top.js" %}

</body>
</html>
