{#
 # Services index template
 # -------------------
 #}

{% extends "_layout" %}
{% set title = "Services" %}

{% block content %}
  <h1>Services</h1>

  <nav class="c-toc">
    <p>Jump to:</p>
    <ul>
      {% for entry in craft.entries.section('services').find() %}
        <li><a href="#{{ entry.title|replace(' ', '-')|lower }}">{{ entry.title }}</a></li>
      {% endfor %}
    </ul>
  </nav>

  {% for entry in craft.entries.section('services').find() %}
    <section class="c-card">
      <h2 id="{{ entry.title|replace(' ', '-')|lower }}">{{ entry.title }}</h2>
      {{ entry.serviceDescription }}
      <h3>What you get:</h3>
      {{ entry.deliverables }}
      <p><strong>Price: </strong>{{ entry.price }}</p>
    </section>
  {% endfor %}
{% endblock %}
